/**
 * By default, columns having percentages width and margin. But you can set $width and $margin in pixels — that will lock values in it.
 * @param {number} $size - Columns count
 * @param {number} $margin - Margin between columns.
 * @param {number} $sidebar-width - You can choose different width for one 'sidebar' column
 * @param {number} $width - Parent block width. Needed for precise calculations.
 * @param {string} $pref - String that contain selector to be add as prefix for columns. Useful in cases when need to change behavior only for one set of columns.
 */
columns-col($size, $margin = 0, $sidebar-width = 0, $width = no-unit($block-width), $pref = '') {
   $attr_size = "'" + 'size:'+$size + "'"
   $attr_sidebar = "'" + 'sidebar' + "'"
   $col_size = ($width - $margin * ($size - 1)) / $size

   if ($sidebar-width is 'half') {
      $sidebar-width = ($col_size / 2)
   } else if ($sidebar-width is 'col') {
      $sidebar-width = ($width - $margin * ($size)) / ($size + 1)
   } else {
      $sidebar-width = no-unit($sidebar-width)
   }

   if ($size > 1) {
      {$pref}[columns~={$attr_size}] > [columns-col] {
         width unit($width) is 'px' ? unit($col_size, 'px') : percent($col_size, $width)
      }
      {$pref}[columns~={$attr_size}] > [columns-col] + [columns-col] {
         margin-left unit($margin) is 'px' ? unit($margin, 'px') : percent($margin, $width)
      }
      {$pref}[columns~={$attr_size}] > [columns-col]:nth-child({$size}n+1) {
         clear both
         margin-left 0
      }
      if ($sidebar-width > 0) {
         $col_size = ($width - $margin * ($size - 1) - $sidebar-width) / ($size - 1)
         {$pref}[columns~={$attr_size}][columns~={$attr_sidebar}] > [columns-col] {
            width unit($width) is 'px' ? unit($sidebar-width, 'px') : percent($col_size, $width)
         }
         {$pref}[columns~={$attr_size}][columns~={$attr_sidebar}] > [columns-col~='sidebar'] {
            width unit($width) is 'px' ? unit($col_size, 'px') : percent($sidebar-width, $width)
         }
      }
   }
}
