/**
 * Сокращяет написание классов для состояния наведения.
 * Позволяет обращаться к родителю использую родительский селектор:
 *
 * @param {string} parent - Родительский селектор на который производится наведение
 * @todo - добавить автоматическое опеределение псевдоселекторов
 *
 * @example - first
 *
      .filter {
         &-dropdown {
            +hover-up() {
               &-title {
                  color #000
               }
            }
         }
      }
 *
 * @example - first result
 *
      .filter-dropdown:hover .filter-dropdown-title,
      .filter-dropdown.is-hover .filter-dropdown-title {
         color: #000;
      }
 *
 * @example - second
 * Важно: нельзя использовать данную функцию для задания стилей родителю:
 *
      .filter {
         &-dropdown {
            +hover-up() {
               display block
               &-title {
                  color #000
               }
            }
         }
      }
 *
 * @example - second result
 *
      .filter-dropdown:hover .filter-dropdown,
      .filter-dropdown.is-hover .filter-dropdown {
         display: block;
      }
      .filter-dropdown:hover .filter-dropdown-title,
      .filter-dropdown.is-hover .filter-dropdown-title {
         color: #000;
      }
 *
 */
hover-up(parent = null) {
   if (parent == null) {
      +pref(_suff(':hover' '.is-hover', ''), ' '){
         {block}
      }
   } else {
      +pref(_suff(':hover' '.is-hover', '', parent), ' '){
         {block}
      }
   }
}
