/**
 * Ширина изображения
 * @param {path} name - Путь до файла изображения внутри папки images
 * @return {px} - Возвращяет пиксельное значение ширины
 */
img-width(path) {
   return image-size($settings-img-path+path)[0]
}
