/**
 * Позволяет быстро задавать line-height
 */
line-height() {
   if (@font-size) {
      if (unit(arguments) isnt ('px' or '')) {
         line-height arguments
      } else {
         fz = @font-size
         if (unit(fz) is 'rem') {
            fz = fz*10
         }
         line-height unit(arguments / fz, '')
      }
   } else {
      line-height arguments
   }
}
