/**
 * Переделывает поведение свойста text-decoration
 */
text-decoration() {
   if (arguments is link) {
      text-decoration underline
      +hover() {
         text-decoration none
      }
   } else if (arguments is reverse) {
      text-decoration none
      +hover() {
         text-decoration underline
      }
   } else if (arguments is underline) {
      text-decoration underline
      +hover() {
         text-decoration underline
      }
   } else if (arguments is none) {
      text-decoration none
      +hover() {
         text-decoration none
      }
   } else {
      text-decoration arguments
   }
}
