body {
   overflow-y scroll
   min-width $layout-min-width ? $layout-min-width : ($block-width + $block-padding * 2)
}
.body-wrapper {
   overflow hidden
   min-width $layout-min-width if $layout-min-width
   min-height 100%
   > header {
      if ($header-height) {
         height $header-height
         &.is-fixed {
            position fixed
            top 0
            right 0
            left 0
            min-width $layout-min-width
            box-sizing border-box
            & + main {
               margin-top $header-margin ? $header-height + $header-margin : $header-height
            }
         }
      }
   }
   > main {
      margin-top $header-margin if $header-margin
      padding-bottom $footer-margin if $footer-margin
      &:last-child {
         padding-bottom @padding-bottom ? @padding-bottom + $footer-height : $footer-height
      }
   }
   > footer {
      height $footer-height if $footer-height
   }
   & + footer {
      min-width $layout-min-width
      box-sizing border-box
      height $footer-height if $footer-height
      margin-top -1*$footer-height if $footer-height
   }
}
