body {
   overflow-y scroll
}
.body-wrapper {
   overflow hidden
   min-width $layout-min-width if $layout-min-width
   min-height 100%
   > main {
      padding-bottom $footer-margin
      &:last-child {
         padding-bottom @padding-bottom + $footer-height
      }
   }
   > footer {
      height $footer-height
   }
   & + footer {
      height $footer-height
      margin-top - $footer-height
   }
}
