$settings-img-path ?= '../../source/images/'
$settings-sprites-default-folder ?= 'main'

$block-padding ?= 13px
$block-width ?= 978px
$block-max-width ?= 0

$footer-height ?= 0
$footer-margin ?= 0

$header-height ?= 0
$header-margin ?= 0

$layout-min-width ?= $block-width + ($block-padding * 2)
