/**
 * Сокращяет написание классов для состояния наведения
 * @param {string} parent - Родительский селектор на который производится наведение
 * @todo - добавить автоматическое опеределение псевдоселекторов
 */
hover(parent = null) {
   if (parent == null) {
      &:hover,
      &.is-hover {
         {block}
      }
   }
   else {
      {parent}:hover &,
      {parent}.is-hover & {
         {block}
      }
   }
}
