/**
 * Высота изображения
 * @param {path} name - Путь до файла изображения внутри папки images
 * @return {px} - Возвращяет пиксельное значение высоты
 */
img-height(path) {
   return image-size('../source/'+path)[1]
}
